 Write a Python program to find the second largest number in a list.

In [4]:
l=[1,22,3,44,54654,5,55,132]
l=sorted(l)
print(l[-2])

132

 Write a Python program to find the index of the second largest number in a list.

In [8]:
l=[1,22,3,44,54654,5,55,132]
l=sorted(l)
i=l[-2]
print(l.index(i))

6

Write a Python program to check a container is empty or not.

In [10]:
l=[]
print(l if l else "emty")

[1, 1, 1, 1, 1, 1]

 Write a Python program using Sieve of Eratosthenes method for computing primes upto a specified number. Note: In mathematics, the sieve of Eratosthenes,one of a number of prime number sieves, is a simple, ancient algorithm for finding all prime numbers up to any given limit.

In [55]:
n=int(input("enter number greater than 0: "))
for i in range (1,n,2):
    if i%2==0:
        continue
    else :
        l=[]
    print(l.append(i))

enter number greater than 0: 100
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

t slice it into a 3 equal chunks and print each list.

In [38]:
l=input("enter list: ")
l=l.split()
l2=list(l)
print(len(l))
x=len(l)//3
l2=l[0:x]
print(l2)
l3=l[x:x+x]
print(l3)
l4=l[x+x:3*x]
print(l4)
l5=l[3*x:]
print(l5)

enter list: g g f fvv b f f f g f f
11
['g', 'g', 'f']
['fvv', 'b', 'f']
['f', 'f', 'g']
['f', 'f']

 Write a Python program to sort a list in descending order.

In [13]:
l=[4,55,66,5,33,4,5,65,65,0]
l=sorted(l)
l2=l[-1::-1]
print(l2)

[66, 65, 65, 55, 33, 5, 5, 4, 4, 0]

 Write a Python program to reverse a list

In [16]:
l=[1,2,3,4,5,6,7,8,9]
print(l[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

Write a Python program to flatten a 2-D list.

In [25]:
l=[[1,2],[3,4]]
l2=[]
l2.append(l[0][0])
l2.append(l[0][1])
l2.append(l[1][0])
l2.append(l[1][1])
print(l2)

[1, 2, 3, 4]

 Given an input list removes the element at index 4 and add it to the 2nd position and also at the end of the list.

In [23]:
l=input("enter list: ")
l=l.split()
l2=list(l)
x=l2[4]
l2.remove(x)
print(l2)
l2.insert(1,x)
print(l2)
l2.append(x)
print(l2)

enter list: w e r ty  u ii  gg ff
['w', 'e', 'r', 'ty', 'ii', 'gg', 'ff']
['w', 'u', 'e', 'r', 'ty', 'ii', 'gg', 'ff']
['w', 'u', 'e', 'r', 'ty', 'ii', 'gg', 'ff', 'u']

 Given a two list of equal size create a set such that it shows only the common elements from both lists.

In [25]:
l1=[1,2,3,4,5,5,6,6,7,5,4,3,3]
l2=[2,3,4,4,5,2,4,4,5,6,7,7,2]
s1=set(l1)
s2=set(l2)
print(s1.intersection(s2))

{2, 3, 4, 5, 6, 7}

 Given a two list of equal size create a tuple such that it shows elements from both lists in pairs

In [50]:
l1=[1,2,3,4,5,5,6,6,7,5,4,3,3]
l2=[2,3,4,4,5,2,4,4,5,6,7,7,2]
for i in range(len (l1)):
    l3=[l1[i],l2[i]]
    l3=tuple(l3)
    print(l3)

(1, 2)
(2, 3)
(3, 4)
(4, 4)
(5, 5)
(5, 2)
(6, 4)
(6, 4)
(7, 5)
(5, 6)
(4, 7)
(3, 7)
(3, 2)

 Write a Python program to iterate and extract all key-value pair of a dictionary and print them.

In [48]:
dc={'name':"areen", "major":"cis","id":2014,"Bdate":1996}
print(dc.items())

dict_items([('name', 'areen'), ('major', 'cis'), ('id', 2014), ('Bdate', 1996)])

Iterate a given list and Check if a given element already exists in a dictionary as a key’s value if not delete it from the list.

In [52]:
l=[2,4,6,77,9,0,22,34,5,1]
dc={"one":1,"two":2,"three":3,"four":4,"five":5}
l2=[l[i] for i in range(len(l)) if l[i] in dc.values()]
print(l2)

[2, 4, 5, 1]

 Givenadictionarygetallvaluesfromthedictionaryandadditinalistbutdon’taddduplicates

In [26]:
dc={"one":1,"two":2,"three":3,"four":4,"five":5}
g=dc.values()
l=[]
l.append(g)
print(l)

[dict_values([1, 2, 3, 4, 5])]

 Writea Pythonprogram whichaccepts asequence ofcomma-separated numbersfrom userand generate a list and tuple with those numbers. Sample data : 3, 5, 7, 23 Output : List : [’3’, ’ 5’, ’ 7’, ’ 23’] Tuple : (’3’, ’ 5’, ’ 7’, ’ 23’)

In [98]:
s=input("enter number : ").split(sep=",")
l=list(s)
print(l)
t=tuple(s)
print(t)

enter number : 1,2,3,4
['1', '2', '3', '4']
('1', '2', '3', '4')

 Write a Python program to count the number 4 in a given list.

In [30]:
l=[2,3,4,4,4,4,4,4,5,5,66]
print(l.count(4))

6

 Write a Python program to print all permutations of a sequence of numbers.

In [34]:
s={1,2,3,34,4,5,5,6,67,8}
print(s)

{1, 2, 3, 34, 4, 5, 6, 67, 8}

 Write a Python program to sort (ascending and descending) a dictionary by its values.

In [81]:
dc={"one":1,"two":2,"three":3,"four":4,"five":5}
print(sorted(dc.values()))
r=sorted(dc.values())
print (r[-1::-1])

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

 Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Sample numbers list : numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]

In [82]:
n = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]
for i in range(len(n)):
    if n[i] ==237:
        break
    elif n[i]%2==0 :
        print(n[i])

386
462
418
344
236
566
978
328
162
758
918

 Write a Python program to print the length of the series and the series starting from the 3rd term, ending at the 3rd last term and the sum of a series.

 Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples. Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)] Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [73]:
import operator 
l=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
l.sort(key=operator.itemgetter(1))
print(l)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

 Write a Python program to create a list by concatenating a given list which range goes from 1 to n. Sample list : [’p’, ’q’] „„ n = 5 Sample Output : [’p1’, ’q1’, ’p2’, ’q2’, ’p3’, ’q3’, ’p4’, ’q4’, ’p5’, ’q5’]

In [99]:
n=int(input("enter number : "))
l=["p","q"]  
x=list(range(1,n+1))
l=l.join(x)

enter number : 5

AttributeError: 'list' object has no attribute 'join'

 Write a Python program to print the length of the series and the series starting from the 3rd term, ending at the 3rd last term and the sum of a series

In [60]:
th=int (input("enter 3rd term of series :"))
l=int (input("enter 3rd last term of series :"))
sm=int (input("enter sum of series :"))
ln= int(2*sm/(th+l))
print(ln)

enter 3rd term of series :3
enter 3rd last term of series :6
enter sum of series :36
8

 Write a Python program to find the biggest row sum of a given matrix.

In [114]:
mat = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
s = 0
row_ind = 0
col_ind = 0;
m = 3
n = 3
row_arr = []
z = 0
print("Sum of rows is" , end = " ")
for row in range(0, m):
    s = 0
for col in range(0, n):
    s = s + mat[row][col]
    print(s, end = " ")
    z = z + 1
    row_arr.append(s)
    temp_row = row_arr[0]
for i in range(1, m):
    if(temp_row < row_arr[i]):
        temp_row = row_arr[i]
        row_ind = i
print("\n Row", row_ind+1,"has maximum sum")

Sum of rows is 7 15 24
 Row 3 has maximum sum

 Write a Python program to find the biggest column Multiplication of a matrix

In [116]:
mat = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
ml = 1
row_ind = 0
col_ind = 0;
m = 3
n = 3
col_arr = []
z = 1
print("mul of column is" , end = " ")
for row in range(0, m):
    ml=1
for col in range(0, n):
    ml = ml * mat[row][col]
    print(ml, end = " ")
    z = z * 1
    col_arr.append(ml)
    temp_col = col_arr[0]
for i in range(1, m):
    if(temp_col < col_arr[i]):
        temp_col = col_arr[i]
        col_ind = i
print("\n column", col_ind+1,"has maximum multiply")

mul of column is 7 56 504
 column 3 has maximum multiply

 Write a guessing game where the user must guess a secret number. After every guess the programtellstheuserwhethertheirnumberwastoolargeortoosmall. Attheendthenumber of tries needed should be printed. It counts only as one try if they input the same number multiple times consecutively.

In [118]:
import random
secret_number = random.randint(1, 100)
tries, guess = 0, 0
while guess != secret_number:
    guess = int(input("Guess a number (<100): "))
    if guess > secret_number:
        print("Lower...")
    elif guess < secret_number:
        print("Higher...")
    tries += 1
    
print('You guessed it! The number was {} in {} tries'.format(guess, tries))

Guess a number (<100): 55
Lower...
Guess a number (<100): 40
Lower...
Guess a number (<100): 30
Lower...
Guess a number (<100): 20
You guessed it! The number was 20 in 4 tries

Write a python program to transpose a matrix.

In [120]:
X = [[12,7],[4 ,5],[3 ,8]]
result = [[0,0,0],[0,0,0]]
for i in range(len(X)):
    for j in range(len(X[0])):
        result[j][i] = X[i][j]
for r in result:
    print(r)

[12, 4, 3]
[7, 5, 8]

 Write a python program to perform a 2 matrix multiplication (following the algebra rules of matrix multiplication).

In [121]:
X = [[12,7,3],[4 ,5,6],[7 ,8,9]]
Y = [[5,8,1,2],[6,7,3,0],[4,5,9,1]]
result = [[0,0,0,0],[0,0,0,0],[0,0,0,0]]
for i in range(len(X)):
    for j in range(len(Y[0])):
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]
for r in result:
    print(r)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

Write a Python program to remove duplicates from Dictionary values.

In [123]:
dc={"one":1,"five":5,"two":2,"five":5,"three":3,"four":4,"five":5,"three":3}
s=set(dc)
print(s)

{'four', 'five', 'three', 'one', 'two'}

 Write a Python program to print all unique values in a dictionary with their keys. Sample Data : [”V”:”S001”, ”V”: ”S002”, ”VI”: ”S001”, ”VI”: ”S005”, ”VII”:”S005”, ”V”:”S009”,”VIII”:”S007”] Expected Output : Unique Values: ’S005’, ’S002’, ’S007’, ’S001’, ’S009’

In [125]:
dic={"v":"s001","v":"s002","vi":"s001","vi":"s005","vii":"s005","v":"s009","viii":"s007"}
u_value = set( val for v in dic for val in dic.values())
print("Unique Values: ",u_value)

Unique Values:  {'s007', 's009', 's005'}

 Write a Python program to find the keys of the highest 3 values in a dictionary.

In [136]:
from heapq import nlargest
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}  
three_largest = nlargest(3, my_dict, key=my_dict.get)
print(three_largest)

['b', 'e', 'c']

 Given a list, traverse it and count the occurrence of each element and create a dictionary to show the count of each element.

In [137]:
def CountFrequency(my_list): 
  
    # Creating an empty dictionary  
    freq = {} 
    for item in my_list: 
        if (item in freq): 
            freq[item] += 1
        else: 
            freq[item] = 1
  
    for key, value in freq.items(): 
        print ("% d : % d"%(key, value))  
my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2] 
CountFrequency(my_list)

 1 :  5
 5 :  2
 3 :  3
 4 :  3
 2 :  4

 Given two sets find the intersection and remove the resulted elements from the first set.

In [143]:
s1={1,5,1,1,4,3,4,2,1,45}
s2={4,5,8,5,2,5,4,5,2,5,84,5,62,53}
i=s1.intersection(s2)
print(i)
ss=s1.symmetric_difference(i)
print(ss)

{2, 4, 5}
{1, 3, 45}

Given two sets, Checks if One Set is subset or superset of Another Set. if it is a subset, delete all elements (not the set) from that set.

In [164]:
s1={1,5,1}
s2={4,5,8,5,1}
print(s1.issubset(s2))
print(s1.issuperset(s2))
s1.discard(1)
s1.discard(5)
print(s1)

True
False
set()

 Write a Python program to print out a set containing all the item from list_1 which are not present in list_2. Test Data : list_1 = [”White”, ”Black”, ”Red”] list_2 = [”Red”, ”Green”] Expected Output : ’Black’, ’White’

In [166]:
l1={"white","black","red"}
l2={"red","green"}
print(l1.difference(l2))

{'black', 'white'}

In [167]:
 def sumPairs(l, n): 
    s = 0
    for i in range(n - 1, -1, -1): 
        s+= i*l[i] - (n-1-i) * l[i] 
    return s
l = [1, 8, 9, 15, 16] 
n = len(l) 
print(sumPairs(l, n))

74

 Write a Python program which adds up column and row of given table. Input cell value: 25 69 51 26 68 35 29 54 54 57 45 63 61 68 47 59 Result: 25 69 51 26 171 68 35 29 54 186 54 57 45 63 219 61 68 47 59 235 208 229 172 202 811

In [169]:
while True:
    print("Input number of rows/columns (0 to exit)")
    n = int(input())
    if n == 0:
        break
    print("Input cell value:")
    x = []
    for i in range(n):
        x.append([int(num) for num in input().split()])

    for i in range(n):
        s = 0
        for j in range(n):
            s += x[i][j]
        x[i].append(s)

    x.append([])
    for i in range(n + 1):
        s = 0
        for j in range(n):
            s += x[j][i]
        x[n].append(s)
    print("Result:")
    for i in range(n + 1):
        for j in range(n + 1):
            print('{0:>5}'.format(x[i][j]), end="")
        print()

Input number of rows/columns (0 to exit)
4
Input cell value:
5
5
5
5

IndexError: list index out of range

 Write a Python program that takes two lists and returns True if they have at least 3 common member.

In [5]:
l1=[1,4,5,5,2,4,1,7]
l2=[4,5,6,8,6,9,4,1,3]
for i in range(len(l1)):
    for j in range(len(l2)):
        c=0
        if l1[i]==l2[j]:
            c+=1
        if c>=3:
            print("true")

 Write a Python program to generate a list of 15 values and print the list with the first and last 5 elements are squared.

In [18]:
l=[1,7,8,9,96,3,2,5,5,5,5,46,85,50,65]
for i in range(len(l)):
    if i<5:
        print(l[i]**2,end="  ")
    elif i>=10:
        print(l[i]**2,end="  ")

1  49  64  81  9216  25  2116  7225  2500  4225

Write a Python program to replace dictionary values with their sum.

In [33]:
def sum_math_v_vi_average(list_of_dicts):
    for d in list_of_dicts:
        n1 = d.pop('V')
        n2 = d.pop('VI')
        d['V+VI'] = (n1 + n2)/2
    return list_of_dicts 
student_details= [
  {'id' : 1, 'subject' : 'math', 'V' : 70, 'VI' : 82},
  {'id' : 2, 'subject' : 'math', 'V' : 73, 'VI' : 74},
  {'id' : 3, 'subject' : 'math', 'V' : 75, 'VI' : 86}
]
print(sum_math_v_vi_average(student_details))

[{'id': 1, 'subject': 'math', 'V+VI': 76.0}, {'id': 2, 'subject': 'math', 'V+VI': 73.5}, {'id': 3, 'subject': 'math', 'V+VI': 80.5}]

 Write a Python program to get the top three items in a shop. Sample data: ’item1’: 45.50, ’item2’:35, ’item3’: 41.30, ’item4’:55, ’item5’: 24 Expected Output: item4 55 item1 45.5 item3 41.3

In [34]:
from heapq import nlargest 
from operator import itemgetter
items={"item1":45.50,"item2":35,"item3":41.30,"item4":55,"item5":24}
for name , value in nlargest(3,items.items(),key=itemgetter(1)):
    print(name,value)

item4 55
item1 45.5
item3 41.3

 The sum of the squares of the first ten natural numbers is, 12 + 22 + ... + 102 = 385 The square of the sum of the first ten natural numbers is,(1 + 2 + ... + 10)2 = 552 = 3025 Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 − 385 = 2640. Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [32]:
for i in range(1,101):
    x=sum(i**2)
    y=sum(i)
    print(x,y**2)

TypeError: 'int' object is not iterable

 Write a Python program to convert list to list of dictionaries. Sample lists: [”Name”, ”Age”, ”ID”, ”Phone”], [”Yazeed”, ”21”, 1536698”, ”0798529788”] Expected Output: {’color Name’: ’Black’, ’Age: ’21’ , ‘ID’: ’1536698’, ‘Phone’: ’0798529788’}

In [36]:
l=["a",1,"b",2,"c",3]
dic={l[i]:l[i+1] for i in range(0,len(l),2)}
print(dic)

{'a': 1, 'b': 2, 'c': 3}

 Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
3
Sample List : [’abc’, ’xyz’, ’aba’, ’1221’] Expected Result : 2

In [37]:
def word(wrd):
    c=0
    for w in wrd:
        if len(w)>1 and w[0]==w[-1]:
            c+=1
    return c
print(word(["abc","xyz","aba","1221"]))

2